.setting-bar-icon{
    padding:0 !important;
    background: transparent url( ../../images/desktop/icon/setting.png) no-repeat;
    border: 0 none;
    width:36px;
    height:36px;
}

.setting-win-icon{
    background-image: url(../../images/desktop/icon/setting_16.png) !important;
}