@charset "utf-8";
.springme2day-win-icon{
    background-image: url(../../images/apps/win-icon/springme2day_win_icon.png) !important;
}

.x-panel-collapsed-title-text {
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding-left:3px;
}

.springme2day-filterconfig-body{
	background-color: #ccd9e8;
}