.setting-win-icon {
    background-image: url(../../images/apps/win-icon/setting_win_icon.png) !important;
}

.signout-win-icon {
    background-image: url(../../images/apps/win-icon/signout_win_icon.png) !important;
}

.springfinder-win-icon {
    background-image: url(../../images/apps/win-icon/springfinder_win_icon.png) !important;
}
.springguide-win-icon {
    background-image: url(../../images/apps/win-icon/springguide_win_icon.png) !important;
}
.signout-fit {
    text-align: center;
}

.x-tree-node-leaf .x-tree-node-icon {
    background: transparent url(../../extJS/resources/images/default/tree/folder.gif) !important;
}
/*setting*/
#setting-dataview{
    width:455px !important;
    margin:0 auto;
    cursor:pointer;
}
#setting-dataview .x-view-selected{
    background: #DFEDFF;
}
#setting-dataview .menu-wrap  {
    width: 76px;
    height: 76px;
    padding:2px;
    float: left;
    margin: 5px;
    text-align:center;
}
/* springfinderpanel*/

#springfinder-panel{
    background: #FFF;
    padding: 5px;
}

#springfinder-panel .file-wrap  {
    width: 90px;
    height: 100px;
    float: left;
    margin: 5px;
    margin-right: 0;
    padding: 5px;
    text-align:center;
}
#springfinder-panel .x-editable-wrap{
    margin-top:5px;
    text-align:center;
}

#springfinder-panel .file  {
    width: 80px;
    height: 80px;
}

#springfinder-panel .folder-springdoc{
    background: url('../../images/apps/springfinder/folder-springdoc.png') no-repeat;
}

#springfinder-panel .folder-springsee{
    background: url('../../images/apps/springfinder/folder-springsee.png') no-repeat;
}

#springfinder-panel .folder-springplayer{
    background: url('../../images/apps/springfinder/folder-springplayer.png') no-repeat;
}

#springfinder-panel .folder-springbook{
    background: url('../../images/apps/springfinder/folder-springbook.png') no-repeat;
}

#springfinder-panel .file-wrap span{
    overflow: hidden;
    vertical-align: middle;
}
#springfinder-panel .x-view-over{
    background: #efefef url(../../images/apps/springsee/row-over.gif) repeat-x left top;
}
#springfinder-panel .x-view-selected{
    background: #DFEDFF;
}
#springfinder-panel .x-view-selected .file-wrap{
    background:transparent;
}
#springfinder-panel .x-view-selected span{
    color:#1A4D8F;
}

/* springfinderpanel*/

#springfinder-panel-springbook , #springfinder-panel-springsee,#springfinder-panel-springplayer{
    background: #FFF;
    padding: 5px;
}

#springfinder-panel-springbook .file-wrap,#springfinder-panel-springsee .file-wrap,#springfinder-panel-springplayer .file-wrap  {
    width: 55px;
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px;
    text-align:center;
}
#springfinder-panel-springbook .x-editable-wrap,#springfinder-panel-springsee .x-editable-wrap,#springfinder-panel-springplayer .x-editable-wrap{
    text-align:center;
}

#springfinder-panel-springbook .file,#springfinder-panel-springsee .file,#springfinder-panel-springplayer .file  {
    width: 40px;
    height: 40px;
}

.folder-springdoc{
    background: url('../../images/apps/springfinder/folder-springdoc.png') no-repeat;
}

.folder-springsee{
    background: url('../../images/apps/springfinder/folder-springsee.png') no-repeat;
}

.folder-springplayer{
    background: url('../../images/apps/springfinder/folder-springplayer.png') no-repeat;
}

.folder-springbook{
    background: url('../../images/apps/springfinder/folder-springbook.png') no-repeat;
}

.file-wrap span{
    overflow: hidden;
    vertical-align: middle;
}
.x-view-over{
    background: #efefef url(../../images/apps/springsee/row-over.gif) repeat-x left top;
}
.x-view-selected{
    background: #DFEDFF;
}
.x-view-selected .file-wrap{
    background:transparent;
}
.x-view-selected span{
    color:#1A4D8F;
}

.new-folder{
    background: transparent url(../../images/apps/springfinder/new-folder-menu-icon.png);
    padding-left:1px !important;
}
.panel-refresh{
    background: transparent url(../../images/apps/springfinder/panel-refresh-menu-icon.png);
    padding-left:1px !important;
}
.delete-file{
    background: transparent url(../../images/apps/springfinder/delete-file-menu-icon.png);
    padding-left:1px !important;
}
.rename-file{
    background: transparent url(../../images/apps/springfinder/rename-file-menu-icon.png);
    padding-left:1px !important;
}

.dragthum  {
    width: 40px !important;
    height: 40px !important;
    margin:5px !important;
}