.setting-win-icon{
    background-image: url(../../images/apps/win-icon/setting_win_icon.png) !important;
}
.signout-win-icon{
    background-image: url(../../images/apps/win-icon/signout_win_icon.png) !important;
}
.signout-fit{
    text-align:center;
}