@charset "utf-8";

a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: none;}

.springplayer-win-icon {
    background-image: url(../../images/apps/win-icon/springplayer_win_icon.png) !important;
}

#springplayer-dataview .thumb {
    background: #dddddd;
    padding: 3px;
}

#springplayer-dataview .thumb-img {
    width: 120px;
}

#springplayer-dataview .player-icon {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

#springplayer-dataview .thumb-wrap {
    margin: 5px;
    margin-right: 0;
    padding: 5px;
}

#springplayer-dataview .thumb-wrap span {
    overflow: hidden;
    vertical-align: middle;
}

#springplayer-dataview .x-view-over {
    background: #efefef url(../../images/apps/springsee/row-over.gif) repeat-x left top;
}

#springplayer-dataview .x-view-selected {
    background: #DFEDFF;
}

#springplayer-dataview .x-view-selected .thumb {
    background: transparent;
}

#springplayer-dataview .x-view-selected span {
    color: #1A4D8F;
}

/*Time Log*/
.springtimelog-win-icon {
    background-image: url(../../images/apps/win-icon/springtimelog_win_icon.png) !important;
}
