html, body {
    font: normal 12px tahoma, arial, verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#start-mask{
    position: absolute;
    z-index: 20001;
    height: 100%;
    width: 100%;
    background:#000 url(../images/desktop/wallpapers/springsprout-light.png) no-repeat center;
}
#loading {
    /*background: #000;*/
    position: absolute;
    z-index: 20001;
    height: 100%;
    width: 100%;
    display:none;
}

#loading-mask {
    background: black;
    position: absolute;
    z-index: 20000;
    height: 100%;
    width: 100%;
    display:none;
}

#loading img.loader-img {
    margin-bottom: 5px;
    width:220px;
    height :19px;
    margin-right:8px;
}

#loading img.loading-img {
    width:110px;
    height:110px;    
}

#loading .loading-messge {
    /*background: black;*/
    color: #fff;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30%;
}