html, body {
    background: #000;
}

#slider {
    position: relative;
    height: 252px;
    left: 0px;
    text-align: center;
    overflow: hidden;
    /*border: 1px #F00 solid;*/
}

#arrow{
    display:block;
    position:relative;
    text-align:center;
}

#arrow img{
    display:none;
    cursor:pointer;
}
#slider div.panel {
    left: 0px;
    position: absolute;
    width: 216px;  /* 256 */
    height: 162px; /* 232 */
    top: 30px;
    border: 10px solid #f5f5f5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.inside {
    left:0px;
    top:0px;
    width: 216px;  /* 256 */
    height: 162px; /* 192 */
    position:absolute;
}

div.panel img {
    border: none;
    width: 100%;
    height: 100%;
}

div.name_text {
    width: 210px;
    height: 20px;
    background: #797979 none repeat scroll 0 0;
    color: #FFF;
    font-size: 12pt;
    font-weight:bold;
    left: 0px;
    padding: 0px 3px;
    position: absolute;
    bottom: 0px;
    text-align: left;
}

.addition {
    background-color:#FFF;
    display:none;
    left:0px;
    bottom:0px;
    width: 256px;
    position:absolute;
    height: 30px;
    border-top: 10px solid #f5f5f5;
    text-align:left;
    z-index:9999;
}

.addition input{
    height:25px;
    border: 2px solid #CCC;
    padding-bottom:1px;
    width:220px;
    font-size:14pt;
}
div.addition .password{
    background:url("../images/main/password-bk.gif") no-repeat;   
}

div.addition .email{
    background:url("../images/main/email-bk.gif") no-repeat;   
}

div.addition img.new_nextbtn{
    cursor:pointer;
    background-color:#000;
}

div.addition img.nextbtn{
    width:24px;
    height:24px;
    vertical-align : top;
    padding-top:3px;
    cursor:pointer;
}