#m31-springdock {
	position: relative;
	height: 60px !important;
	text-align: center;
}
#m31-springdock-container {
	position: absolute;
	height: 59px;
    background: transparent url(../../images/desktop/springdock/dock-bg.png);	
}
.container{
    background: transparent url(../../images/desktop/springdock/dock-bg.png);
	border-color:#E4E4E4;
	border-style:solid;
	border-left-width:2px;
	border-right-width:2px;
	border-bottom-width:2px;
	border-top-width:0;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
    padding:0 10px;
}
span.m31-springdock-item {
	display: block;
	width: 50px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	padding : 0 4px
}
img.m31-springdock-item-img{
	border: none;
	margin: 5px 0px;
	width: 100%;
	/*opacity:0.7; *//* IE 도 적용해주기.*/
}
span.m31-springdock-item-text{
	display: none;
	margin-top:-5px;
    color:#00FF00;
}
